body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 25px;
}

#quiz-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
}
/* :hover #choices {
  border: 2px solid blue;
} */

#question {
  font-size: 18px;
}

#choices button {
  margin: 5px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
}

#next-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#result-container {
  margin: 20px auto;
}
